
<article class="se-home-container">
  <h2> Safety Equipment</h2>
  <section class="se-home-content">
    <div class="se-home-content-img">
      <img src="../../../../assets/images/addNewProduct.png" class="img-thumbnail" alt="Cinque Terre"
           class="se-home-content-img-size">
    </div>
    <p class="se-home-content-text">
      <span class="home-content-title">Add New Product</span>
      We are a strategic partner in risk prevention for the business sector, offering comprehensive solutions
             in industrial safety and occupational health that allow our clients to improve the quality of working
      life
             of its workers and increase their productivity, through the development and implementation of management
      systems
             and provision of necessary elements to complement the culture of safety through care
             personalized and reliable, having as main value the expertise and qualification of our team of
             work.
      <br>
      <br>
      <button type="button" class="btn btn-success">
        <a class="nav-link se-home-a" routerLink="/add-safety-equipment">Add Product</a>
      </button>
    </p>
  </section>

  <section class="se-home-content">
    <p class="se-home-content-text">
      <span class="se-home-content-title">Registries</span>
      Be the first option for the business sector in the region in integral solutions in Industrial Safety and Health
           Occupational, being recognized by the professionalism of our human work team and the quality of our
           products, as well as our contribution to the generation of safe, healthy and productive work environments.
      <br>
      <br>
      <button type="button" class="btn btn-primary">
        <a class="nav-link se-home-a" routerLink="/safety-equipment-list">See Registry</a>
      </button>
    </p>
    <div class="se-home-content-img">
      <img src="../../../../assets/images/safetyRegistry.png" class="img-thumbnail" alt="Cinque Terre"
           class="se-home-content-img-size">
    </div>
  </section>

</article>
