
<article class="incident-list">

  <safety-equipment-carousel></safety-equipment-carousel>
  <h2> Safety Equipment List</h2>

  <table class="table table-striped safety-equipment-table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let safeties of safetyEquipments; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ safeties.code}}</td>
      <td>{{ safeties.name }}</td>
      <td>{{ safeties.description }}</td>
      <td>{{ safeties.stock }}</td>
    </tr>
    </tbody>
  </table>
</article>
